<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.hyphenate.easeui">


    <application>
        <activity android:name=".ui.EaseBaiduMapActivity" />
        <activity android:name=".ui.EaseShowBigImageActivity" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ZY3wMw5b8BPy5tdGgFUPEvkoiqKzEHoI" />
        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
    </application>
</manifest>
